hr{color: aquamarine}
p{margin-left: 20px}

body{
    background: #EEE;
    text-align: center;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    width: 776px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background: #EEE;
    height: 60px;
}

#myvideo
{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.button
{
    background-color: aquamarine;
    border: none;
    color: white;
    width: 100px;
    height: 80px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}

#footer
{
    background: black;
    color: white;
    clear: both;
    text-align: left;
    padding: 5px;
}